.hamburger{
    width: 70px;
    background-color: blue;
    height: 60px;padding: 10px;
}
#line{
    margin: 10px;
}
.l{
    transition: width 1s ease-in-out;
}
.line1{
    width: 55px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    transform: translateY(-45%)
    
}
.line2{
    width: 55px;
    height: 10px;
    background-color: red;
    border-radius: 10px;
}
.line3{
    width: 55px;
    height: 10px;
    background-color: black;
    border-radius: 10px;
}